In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/Users/cosmos/Desktop/HackManthan/python/data.csv")

In [3]:
df.columns

Index(['Unnamed: 0', 'District', 'Event', 'Circle', 'Police Station',
       'Caller Source', 'Event Type', 'Event Sub-Type', 'Create Date/Time',
       'Latitude', 'Longitude'],
      dtype='object')

In [4]:
df=df.drop(axis=0,columns=["Unnamed: 0","Event"])
df.head(3)

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude
0,LUCKNOW,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,2021-04-01 00:00:00,26.834,81.008
1,LUCKNOW,C1,PS1,PHONE,Threat In Person,Attack,2021-04-01 12:09:00,26.828,81.014
2,LUCKNOW,C1,PS1,PHONE,Dispute,Dispute In Hospital,2021-04-01 12:51:00,26.840,81.009

In [5]:
df['Create Date/Time'] = pd.to_datetime(df['Create Date/Time'], format="%Y-%m-%d %H:%M:%S")

df['year']  = df['Create Date/Time'].dt.year
df['month'] = df['Create Date/Time'].dt.month
df['day']   = df['Create Date/Time'].dt.day
df['hour'] = df['Create Date/Time'].dt.hour
df['minute'] = df['Create Date/Time'].dt.minute
df['second'] = df['Create Date/Time'].dt.second
df['day_of_week']  = df['Create Date/Time'].dt.dayofweek
df['date'] = df['Create Date/Time'].dt.date

dw_mapping={
    0: 'Monday', 
    1: 'Tuesday', 
    2: 'Wednesday', 
    3: 'Thursday', 
    4: 'Friday',
    5: 'Saturday', 
    6: 'Sunday'
} 
df['day_of_week_name'] = df['day_of_week'].map(dw_mapping)
df.head()

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Create Date/Time,Latitude,Longitude,year,month,day,hour,minute,second,day_of_week,date,day_of_week_name
0,LUCKNOW,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,2021-04-01 00:00:00,26.834,81.008,2021,4,1,0,0,0,3,2021-04-01,Thursday
1,LUCKNOW,C1,PS1,PHONE,Threat In Person,Attack,2021-04-01 12:09:00,26.828,81.014,2021,4,1,12,9,0,3,2021-04-01,Thursday
2,LUCKNOW,C1,PS1,PHONE,Dispute,Dispute In Hospital,2021-04-01 12:51:00,26.840,81.009,2021,4,1,12,51,0,3,2021-04-01,Thursday
3,LUCKNOW,C1,PS1,PHONE,Gambling,Play Cards,2021-04-01 13:10:00,26.828,81.002,2021,4,1,13,10,0,3,2021-04-01,Thursday
4,LUCKNOW,C1,PS1,PHONE,Threat In Person,Attack,2021-04-01 13:18:00,26.834,81.033,2021,4,1,13,18,0,3,2021-04-01,Thursday

In [20]:
df=df.drop(axis=0,columns=["Create Date/Time"])
df=df.drop(axis=0,columns=["date"])
df=df.drop(axis=0,columns=["day_of_week_name"])
df=df.drop(axis=0,columns=["Latitude","Longitude"])

In [7]:
df.head(2)

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Latitude,Longitude,year,month,day,hour,minute,second,day_of_week
0,LUCKNOW,C1,PS1,PHONE,Information Against Police,Misbehavior By Prv,26.834,81.008,2021,4,1,0,0,0,3
1,LUCKNOW,C1,PS1,PHONE,Threat In Person,Attack,26.828,81.014,2021,4,1,12,9,0,3

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

df['Circle'] = le.fit_transform(df['Circle'])
df['Police Station'] = le.fit_transform(df['Police Station'])
df['Caller Source'] = le.fit_transform(df['Caller Source'])
df['Event Type'] = le.fit_transform(df['Event Type'])
df['Event Sub-Type'] = le.fit_transform(df['Event Sub-Type'])
df['District'] = le.fit_transform(df['District'])

df.head()

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,Latitude,Longitude,year,month,day,hour,minute,second,day_of_week
0,LUCKNOW,0,0,4,28,125,26.834,81.008,2021,4,1,0,0,0,3
1,LUCKNOW,0,0,4,49,5,26.828,81.014,2021,4,1,12,9,0,3
2,LUCKNOW,0,0,4,13,40,26.840,81.009,2021,4,1,12,51,0,3
3,LUCKNOW,0,0,4,24,155,26.828,81.002,2021,4,1,13,10,0,3
4,LUCKNOW,0,0,4,49,5,26.834,81.033,2021,4,1,13,18,0,3

In [21]:
df

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,year,month,day,hour,minute,second,day_of_week,violent_crime_occurence
0,0,0,0,4,28,125,2021,4,1,0,0,0,3,0
1,0,0,0,4,49,5,2021,4,1,12,9,0,3,0
2,0,0,0,4,13,40,2021,4,1,12,51,0,3,0
3,0,0,0,4,24,155,2021,4,1,13,10,0,3,0
4,0,0,0,4,49,5,2021,4,1,13,18,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5118,0,1,3,4,13,197,2021,6,30,17,59,54,2,0
5119,0,1,3,4,13,39,2021,6,30,18,1,5,2,0
5120,0,1,3,4,10,7,2021,6,30,18,10,59,2,0
5121,0,1,3,4,41,144,2021,6,30,18,33,39,2,0
5122,0,1,3,4,49,184,2021,6,30,23,59,8,2,0

In [15]:
df['violent_crime_occurence'] = 0

In [22]:
violent_crimes = list(map(float, df['Event Type']))
violent_crimes_mean = sum(violent_crimes)/len(violent_crimes)
violent_crimes_mean

24.642397032988484

In [23]:
df['mean_violent_crimes'] = violent_crimes_mean
df['violent_crime_occurence'] = np.where(violent_crimes>=df['mean_violent_crimes'], '1', '0')
df.groupby('violent_crime_occurence').mean()

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,year,month,day,hour,minute,second,day_of_week,mean_violent_crimes
violent_crime_occurence,,,,,,,,,,,,,,
0,0.0,0.615871,1.621246,4.074297,12.581094,104.139108,2021.0,4.895353,15.762251,14.924123,29.754979,17.782485,2.987670,24.642397
1,0.0,0.621429,1.634184,3.995918,44.106633,120.430102,2021.0,4.938776,15.437755,14.562245,29.328061,17.780102,3.056122,24.642397

In [24]:
df

,District,Circle,Police Station,Caller Source,Event Type,Event Sub-Type,year,month,day,hour,minute,second,day_of_week,violent_crime_occurence,mean_violent_crimes
0,0,0,0,4,28,125,2021,4,1,0,0,0,3,1,24.642397
1,0,0,0,4,49,5,2021,4,1,12,9,0,3,1,24.642397
2,0,0,0,4,13,40,2021,4,1,12,51,0,3,0,24.642397
3,0,0,0,4,24,155,2021,4,1,13,10,0,3,0,24.642397
4,0,0,0,4,49,5,2021,4,1,13,18,0,3,1,24.642397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5118,0,1,3,4,13,197,2021,6,30,17,59,54,2,0,24.642397
5119,0,1,3,4,13,39,2021,6,30,18,1,5,2,0,24.642397
5120,0,1,3,4,10,7,2021,6,30,18,10,59,2,0,24.642397
5121,0,1,3,4,41,144,2021,6,30,18,33,39,2,1,24.642397
5122,0,1,3,4,49,184,2021,6,30,23,59,8,2,1,24.642397

# Models

In [29]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn import tree

NameError: name 'DecisionTreeClassifier' is not defined

In [ ]:
X_DecisionTree = df.drop('violent_crime_occurence', axis=1)
Y_DecisionTree = df['violent_crime_occurence']

In [ ]:
from sklearn.model_selection import train_test_split
X_train_DecisionTree, X_test_DecisionTree, Y_train_DecisionTree, Y_test_DecisionTree = train_test_split(X_DecisionTree, Y_DecisionTree, random_state=1)

clf_gini = DecisionTreeClassifier(criterion = "gini", random_state = 100,max_depth=20, min_samples_split=9, min_samples_leaf=6)
clf_gini

In [ ]:
clf_gini.fit(X_train_DecisionTree, Y_train_DecisionTree)

In [ ]:
Y_Pred_DecisionTree = clf_gini.predict(X_test_DecisionTree)
Y_Pred_DecisionTree

In [ ]:
ac=accuracy_score(Y_test_DecisionTree, Y_Pred_DecisionTree)*100
ac

In [ ]:
import graphviz 
dot_data = tree.export_graphviz(clf_gini, out_file=None, feature_names=X_DecisionTree.columns, class_names=['0','1'])
graph = graphviz.Source(dot_data) 
graph.render("crime") 
graph

In [ ]:
# For Decision Tree
cnf_matrix_DecisionTree = metrics.confusion_matrix(Y_test_DecisionTree, Y_Pred_DecisionTree)
cnf_matrix_DecisionTree
# name  of classes
class_names=[0,1] 
fig, ax = plt.subplots()
tick_marks = np.arange(len(class_names))
plt.xticks(tick_marks, class_names)
plt.yticks(tick_marks, class_names)

# create heatmap
sns.heatmap(pd.DataFrame(cnf_matrix_DecisionTree), annot=True, cmap="YlGnBu" ,fmt='g')
ax.xaxis.set_label_position("top")
plt.tight_layout()
plt.title('Confusion matrix for Decision Tree', y=1.1)
plt.ylabel('Actual label')
plt.xlabel('Predicted label')
print("Model Accuracy for Random Forest:",metrics.accuracy_score(Y_test_DecisionTree, Y_Pred_DecisionTree))